<table id="deals-table" class="my-2 table table-sm table-striped table-bordered" style="">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Player Name</th>
        <th>From Team</th>
        <th>To Team</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Samso Nigore</td>
        <td>System Architect</td>
        <td>11 (↓)</td>
        <td>61</td>
    </tr>

    </tbody>
    <tfoot>
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Players</th>
        <th>Money Balance</th>
    </tr>
    </tfoot>
</table>
