{% extends 'base.html.twig' %}

{% block title %}Football Teams Trade | Team{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="card">
            <h4 class="text-center text-muted my-3">
                <i class="fa fa-futbol"></i>
                Football Teams Trade
            </h4>
            <div class="container">

                <h2 class="text-center ">Team: {{ team.name }}</h2>

                {% if (error ?? null) %}
                    <div class="alert alert-danger">
                        <i class="fa fa-info-circle"></i>
                        {{ (error.messageKey ?? error ?? '') | trans }}
                        {{ error }}
                    </div>
                {% elseif (success ?? null) %}
                    <div class="alert alert-success">
                        <i class="fa fa-info-circle"></i>
                        {{ success | trans }}
                    </div>
                {% endif %}

                {% if is_granted('ROLE_ADMIN')  %}
                    {% include "partials/team_money_balance.html.twig" %}
                {% endif %}

                {% include "partials/team_table.html.twig" %}


            </div>
        </div>

    </div>

{% endblock %}
